PORT=3000
FRANCECONNECT_BASE_URL=http://127.0.0.1:8001
BANK_API_BASE_URL=http://127.0.0.1:8002
SERVICES_MONOPOLY_BASE_URL=http://127.0.0.1:8004
PAY_WALLET_WEB_URL=http://127.0.0.1:3002
SAVE_SERVICE_BASE_URL=http://127.0.0.1:8010
SERVICE_AUTH_ENABLED=false
AUTH_REQUEST_TIMEOUT_MS=2500
